
.form {
	width: 683px;
	background: #D7D7D7;
	text-align: center;
	margin: 30px auto;
	padding: 23px 0;
}
.form h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #010506;
	margin-bottom: 23px;
}
.form span {
	font-weight: 700;
	color: #d83413;
}
.form input[type=text]{
	border: 1px solid #CACACA;
	width: 396px;
	height: 46px;
	color: #8C8C8C;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 12px;
	text-align: center;
}

/*feedback*/
.popup_bg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #211722;
    z-index: 2000;
    display: none;
    cursor: pointer;
    opacity: 0.75;
}

.popup_window{
    width: 545px;
    padding: 6px;
    background: #D7D7D7;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    left:50%;
    top: 20px;
    margin-left: -280px;
    position: absolute;
    z-index: 2001;
    display: none;
}

.popup_window__title{
    height: 47px;
    padding-top: 30px;
    text-align: center;
    color: #010506;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.popup_window__content{
	/*
    border: 4px solid #f6f6f6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px;
    background: #ffffff;
    */
    text-align: center;
}

.popup_window__input{
	/*
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 29px;
    border:1px solid #000;
    padding: 5px;
    */
    border: 1px solid #CACACA;
	width: 396px;
	height: 48px;
	color: #8C8C8C;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 10px;
	text-align: center;
}

.popup_window__input.valid_field,
.static_window__input.valid_field{

}

.error_field{
    border-color: #ff0000 !important;
}
div.error{
    display: none;
    height: 16px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: 10px;
    color: red;
}

.btn_submit_form {
	color: #010506;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 700;
	display: block;
	background: url(img/popup-btn-unfocus.png) no-repeat 0 0;
	width: 275px;
	height: 59px;
	text-decoration: none;
	text-align: center;
	margin: 10px auto;
	border: 0;
	padding-bottom: 6px;
}


.btn_submit_form:hover {
	background: url(img/popup-btn-focus.png) no-repeat 0 0;
}
.btn_submit_form:active {
	background: url(img/popup-btn-unfocus.png) no-repeat 0 0;
}


/*end feedback*/

.products .wrapper p {
	line-height: 17px;
	margin-bottom: 4px;
}
.howto .wrapper .note {
	width: 540px;
	float: left;
	margin-right: 52px;
	margin-left: 26px;
}
.howto .wrapper .note h5, .howto .wrapper .interesting h5 {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
} 
.technology img {
	margin-top: 5px;
}
.photo ul li.last {
	margin-right: 0;
}
.photo .photo-wrapper {
	margin: 0 auto;
	width: 700px;
}